/target/
frontend/dist/
*.db
.env
.DS_Store
firefly-reporting-backend/src/*.rs.bak


# Added by cargo

/target
/2026-03-28-214052-split-account-option-does-not-show-any-values-on-t.txt
/2026-03-30-165810-local-command-caveatcaveat-the-messages-below-w.txt
